{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/sidebar.css') }}">
{% endblock %}
<div class="wrapper">
    <div class="top_navbar">
        <div class="hamburger">
        </div>
        <div class="top_menu">
            <div class="logo">Evolution des indices des prix a la consommation</div>
            <ul>
                {{app.user.nom }}
                <li><a href="#">
                <i class="fas fa-user"></i>
                </a></li>
            </ul>
        </div>
    </div> 

    <div class="sidebar">
        <!-- Sidebar -->
        <nav >
           
            <ul class="menu">
                <li>
                    <a href="{{ path('app_secteur_valide_index') }}"
                    class="{{ app.request.attributes.get('_route') == 'app_secteur_valide_index' ? 'active' : '' }}">
                        <i class="bi bi-diagram-3"></i><span> Secteurs</span>
                    </a>
                </li>

                <li>
                    <a href="{{ path('app_fonction_valide_index') }}"
                    class="{{ app.request.attributes.get('_route') == 'app_fonction_valide_index' ? 'active' : '' }}">
                        <i class="bi bi-person-gear"></i><span> Fonctions</span>
                    </a>
                </li>

                <li>
                    <a href="{{ path('app_origine_valide_index') }}"
                    class="{{ app.request.attributes.get('_route') == 'app_origine_valide_index' ? 'active' : '' }}">
                        <i class="bi bi-globe"></i><span> Origines</span>
                    </a>
                </li>

                <li class="logout"><a href="{{ path('app_logout') }}"><i class="bi bi-box-arrow-right"></i><span> Déconnexion</span></a></li>
            </ul>

        </nav>
    </div>

</div>

{% block script %}
<script>
  document.addEventListener("DOMContentLoaded", function () {
    function toggleSidebarOnResize() {
      const wrapper = document.querySelector('.wrapper');
      if (window.innerWidth <= 520) {
        wrapper.classList.add('collapse');
      } else {
        wrapper.classList.remove('collapse');
      }
    }

    // Appelle la fonction au chargement de la page
    toggleSidebarOnResize();

    // Appelle la fonction à chaque redimensionnement de la fenêtre
    window.addEventListener('resize', toggleSidebarOnResize);
  });
</script>
{% endblock %}


