{% extends 'base.html.twig' %}

{% block title %}OrigineValide index{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/tableau.css') }}">
{% endblock %}

{% block body %}

    <div class="entete">
      
        <div class="row my-4 px-3 align-items-center justify-content-between">
            <div class="col-md-3">
                <label for="columnSelect" class="form-label mb-1">Choisir une colonne :</label>
                <select id="columnSelect" class="form-select">
                    <option value="">-- Sélectionner --</option>
                    <option value="0">Annee</option>
                    <option value="1">Nummois</option>
                    <option value="2">Ensemble</option>
                    <option value="3">Prodlocal</option>
                    <option value="4">Prodsemimp</option>
                    <option value="5">Prodimport</option>
                </select>
            </div>
            <div class="col-md-3 d-none" id="searchColumnWrapper">
                <label for="searchInput" class="form-label mb-1">Rechercher :</label>
                <input type="text" id="searchInput" class="form-control" placeholder="Entrez une valeur...">
            </div>
                <div class="col-md-2 text-end">
                    <a class="add btn btn-primary" href="{{ path('app_origine_valide_new') }}">
                        <i class="bi bi-plus-circle"></i> Ajouter
                    </a>
                </div>
        </div>

   <div class="outer-wrapper">
    <div class="table-wrapper">
    <table class="table" id="sortableTable">
        <thead>
            <tr>
                <th>ANNEE</th>
                <th>NUMMOIS</th>
                <th>ENSEMBLE</th>
                <th>PRODLOCAL</th>
                <th>PRODSEMIMP</th>
                <th>PRODIMPORT</th>
                <th>ACTIONS</th>
            </tr>
        </thead>
        <tbody>
            {% for origine_valide in origine_valides %}
                <tr class="modal-trigger"
                data-matricule="{{ app.user.matricule }}"
                data-created="{{ origine_valide.createdAt ? origine_valide.createdAt|date('d/m/Y H:i') : 'N/A' }}"
                data-updated="{{ origine_valide.updatedAt ? origine_valide.updatedAt|date('d/m/Y H:i') : 'N/A' }}"
                data-updatedby="{{ app.user.nom }}"
                >

                    <td>{{ origine_valide.annee }}</td>
                    <td>{{ origine_valide.nummois }}</td>
                    <td>{{ origine_valide.ensemble }}</td>
                    <td>{{ origine_valide.prodlocal }}</td>
                    <td>{{ origine_valide.prodsemimp }}</td>
                    <td>{{ origine_valide.prodimport }}</td>
                    <td>
                        <a href="{{ path('app_origine_valide_show', {'id': origine_valide.id}) }}"
                        class="btn btn-sm btn-outline-success"
                        title="Voir">
                            <i class="bi bi-eye-fill"></i>
                        </a>
                        <a href="{{ path('app_origine_valide_edit', {'id': origine_valide.id}) }}"
                        class="btn btn-sm btn-outline-primary"
                        title="Modifier">
                            <i class="bi bi-pencil"></i>
                        </a>

                        <form method="post"
                            action="{{ path('app_origine_valide_delete', {'id': origine_valide.id}) }}"
                            class="form-delete"
                            data-id="{{ origine_valide.id }}"
                            style="display:inline;">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ origine_valide.id) }}">
                            <button type="submit" class="btn btn-sm btn-danger">
                                <i class="bi bi-trash"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">no records found</td>
                </tr>
            {% endfor %}
        </tbody>

    </table>
        </div>
    </div> 
    </div>

<!-- Modal personnalisé -->
<div id="customModal" class="modal-overlay">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close-button" id="closeModal">&times;</span>
            <h5>Détails de l'enregistrement</h5>       
        </div>

        <div id="modalDetails">
            <!-- Contenu injecté dynamiquement -->
        </div>
    </div>
</div>


<div id="pagination-wrapper" ></div>
<script src="{{ asset('js/origine_valide.js') }}"></script>


    
{% endblock %}
