{% extends 'base.html.twig' %}

{% block title %}SecteurValide index{% endblock %}

{% block stylesheets %}
    
{% endblock %}

{% block body %}
    <div class="entete">

<style>
    .entete{ 
    padding: 20px;
    margin-left: 15%; 
    padding-bottom: 0;
}
.add{
    background-color: #2c5eaa;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    text-decoration: none;
    height: 40px;
    margin-left: 13px;
}
.heading {
    display: flex;
    background-color: #232f3e;
    box-shadow: 0px 1px 2px #232f3e;

}
h1 {
    color: coral;
    font-weight: bold; 
    background: transparent;
    padding: 7px;
    
}
.outer-wrapper {
    margin: 10px;
    margin-left: 15px;
    margin-right: 10px;
    border-radius: 4px;
    box-shadow: 0px 0px 3px #9e9d9d;
    width: 80vw !important;
     justify-content: center;  /* Centrage horizontal */
    align-items: center;      /* Centrage vertical */
    
}
.table-wrapper {
    overflow-y: scroll;
    overflow-x: scroll;
    height: fit-content;
    margin: 15px;
    padding-bottom: 20px;    
}

table {   
    min-width: max-content;    
    border-collapse: separate;
    border-spacing: 0px;  
    font-size: 13px;
    text-align: center;
}


table th{
    position: sticky; 
    top: 0px;  
    background-color: #cbced1;
    color: rgb(12, 12, 11);  
    text-align: center;
    font-weight: normal;
} 
table th, table td {   
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}
table td {
    text-align: center; 
    padding-left: 20px;
    
}

/* Appliquer une bordure de 5px au tooltip Bootstrap */
.tooltip .tooltip-inner {
    border: 5px solid #2e4ead; /* couleur au choix */
    background-color: #fff;
    color: #333;
    font-size: 14px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    width: 300px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 0px ;
    border-radius: 8px;
    width: 400px;
    max-width: 90%;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    position: relative;
    left:30%;
    animation: animatetop 0.3s;
    top: 25%;
}

.close-button {
    position: absolute;
    top: 8px;
    right: 12px;
    font-size: 20px;
    cursor: pointer;

}

#modalDetails {
    margin-top: 20px;
    margin-left: 10px
}
/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
 text-align: center;
    padding: 10px;
    background-color: #f1f1f1;
    border-bottom: 1px solid #ddd;
  background-color: #5cb85c;
  color: white;
}

@media (max-width: 850px) {
    .entete {
        margin-left: 0;
        margin-top: 20px;
    }
}
</style>

       <div class="row my-4 px-3 align-items-center justify-content-between">
            <div class="col-md-3">
                <label for="columnSelect" class="form-label mb-1">Choisir une colonne :</label>
                <select id="columnSelect" class="form-select">
                    <option value="">-- Sélectionner --</option>
                    <option value="0">Annee</option>
                    <option value="1">Nummois</option>
                    <option value="2">Ensemble</option>
                    <option value="3">Prodvivr_n_t</option>
                    <option value="4">Prodvivr_t_n_riz</option>
                    <option value="5">Prodvivr_t_riz</option>
                    <option value="6">Prodmanufind</option>
                    <option value="7">Prodmanufart</option>
                    <option value="8">Servpubl</option>
                    <option value="9">Servpriv</option>
                    <option value="10">Ppn</option>
                </select>
            </div>
            <div class="col-md-3 d-none" id="searchColumnWrapper">
                <label for="searchInput" class="form-label mb-1">Rechercher :</label>
                <input type="text" id="searchInput" class="form-control" placeholder="Entrez une valeur...">
            </div>
            <div class="col-md-2 text-end">
                <a class="add btn btn-primary" href="{{ path('app_secteur_valide_new') }}">
                    <i class="bi bi-plus-circle"></i> Ajouter
                </a>
            </div>
        </div>

    <div class="outer-wrapper">
    <div class="table-wrapper">
    <table class="table" id="sortableTable">
        <thead>
            <tr>
                <th class="sortable">ANNEE</th>
                <th class="sortable">NUMMOIS</th>
                <th class="sortable">ENSEMBLE</th>
                <th class="sortable">PRODVIVR_N_T</th>
                <th class="sortable">PRODVIVR_T_N_RIZ</th>
                <th class="sortable">PRODVIVR_T_RIZ</th>
                <th class="sortable">PRODMANUFIND</th>
                <th class="sortable">PRODMANUFART</th>
                <th class="sortable">SERVPUBL</th>
                <th class="sortable">SERVPRIV</th>
                <th class="sortable">PPN</th>
                <th>ACTIONS</th>
            </tr>

            </tr>
        </thead>
        <tbody>
        {% for secteur_valide in secteur_valides %}
            
            {% set dernier_historique = secteur_valide.historiques|last %}
            <tr 
                data-matricule="{{ app.user.matricule }}"
                data-created="{{ secteur_valide.createdAt ? secteur_valide.createdAt|date('d/m/Y H:i', 'Indian/Antananarivo') : 'N/A' }}"
                data-updated="{{ secteur_valide.updatedAt ? secteur_valide.updatedAt|date('d/m/Y H:i' , 'Indian/Antananarivo') : 'N/A' }}"
                data-updatedby="{{ dernier_historique.modifiePar ?? 'N/A' }}">


                <td class="modal-trigger">{{ secteur_valide.annee }}</td>
                <td class="modal-trigger">{{ secteur_valide.nummois }}</td>
                <td class="modal-trigger">{{ secteur_valide.ensemble }}</td>
                <td class="modal-trigger">{{ secteur_valide.prodvivrNT }}</td>
                <td class="modal-trigger">{{ secteur_valide.prodvivrTNRiz }}</td>
                <td class="modal-trigger">{{ secteur_valide.prodvivrTRiz }}</td>
                <td class="modal-trigger">{{ secteur_valide.prodmanufind }}</td>
                <td class="modal-trigger">{{ secteur_valide.prodmanufart }}</td>
                <td class="modal-trigger">{{ secteur_valide.servpubl }}</td>
                <td class="modal-trigger">{{ secteur_valide.servpriv }}</td>
                <td class="modal-trigger">{{ secteur_valide.ppn }}</td>
                <td>
                    <a href="{{ path('app_secteur_valide_show', {'id': secteur_valide.id}) }}"
                    class="btn btn-sm btn-outline-success"
                    title="Voir">
                        <i class="bi bi-eye-fill"></i>
                    </a>
                    <a href="{{ path('app_secteur_valide_edit', {'id': secteur_valide.id}) }}"
                    class="btn btn-sm btn-outline-primary"
                    title="Modifier">
                        <i class="bi bi-pencil"></i>
                    </a>

                    <form method="post"
                        action="{{ path('app_secteur_valide_delete', {'id': secteur_valide.id}) }}"
                        class="form-delete"
                        data-id="{{ secteur_valide.id }}"
                        style="display:inline;">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ secteur_valide.id) }}">
                        <button type="submit" class="btn btn-sm btn-danger"> <i class="bi bi-trash"></i></button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    </div>
    </div>
  
<!-- Modal personnalisé -->
<div id="customModal" class="modal-overlay">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close-button" id="closeModal">&times;</span>
            <h5>Détails de l'enregistrement</h5>       
        </div>

        <div id="modalDetails">
            <!-- Contenu injecté dynamiquement -->
        </div>
    </div>
</div>

    </div>
    
   

    <div id="pagination-wrapper"></div>

    <script src="{{ asset('js/secteur_valide.js') }}"></script>



{% endblock %}
