{% extends 'base.html.twig' %}

{% block title %}SecteurValide index{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/tableaux.css') }}">
{% endblock %}

{% block body %}

    <div class="entete">

       <div class="row my-4 px-3 align-items-center justify-content-between">
            <div class="col-md-3">
                <label for="columnSelect" class="form-label mb-1">Choisir une colonne :</label>
                <select id="columnSelect" class="form-select">
                    <option value="">-- Sélectionner --</option>
                    <option value="0">Annee</option>
                    <option value="1">Nummois</option>
                    <option value="2">Ensemble</option>
                    <option value="3">Prodvivr_n_t</option>
                    <option value="4">Prodvivr_t_n_riz</option>
                    <option value="5">Prodvivr_t_riz</option>
                    <option value="6">Prodmanufind</option>
                    <option value="7">Prodmanufart</option>
                    <option value="8">Servpubl</option>
                    <option value="9">Servpriv</option>
                    <option value="10">Ppn</option>
                </select>
            </div>
            <div class="col-md-3 d-none" id="searchColumnWrapper">
                <label for="searchInput" class="form-label mb-1">Rechercher :</label>
                <input type="text" id="searchInput" class="form-control" placeholder="Entrez une valeur...">
            </div>
            <div class="col-md-2 text-end">
                <a class="add btn btn-primary" href="{{ path('app_secteur_valide_new') }}">
                    <i class="bi bi-plus-circle"></i> Ajouter
                </a>
            </div>
        </div>

    <div class="outer-wrapper">
    <div class="table-wrapper">
    <table class="table" id="sortableTable">
        <thead>
            <tr>
                <th class="sortable">ANNEE</th>
                <th class="sortable">NUMMOIS</th>
                <th class="sortable">ENSEMBLE</th>
                <th class="sortable">PRODVIVR_N_T</th>
                <th class="sortable">PRODVIVR_T_N_RIZ</th>
                <th class="sortable">PRODVIVR_T_RIZ</th>
                <th class="sortable">PRODMANUFIND</th>
                <th class="sortable">PRODMANUFART</th>
                <th class="sortable">SERVPUBL</th>
                <th class="sortable">SERVPRIV</th>
                <th class="sortable">PPN</th>
                <th>ACTIONS</th>
            </tr>

            </tr>
        </thead>
        <tbody>
        {% for secteur_valide in secteur_valides %}
            

            <tr 
                data-bs-toggle="tooltip"
                data-bs-html="true"
                title="
                    Matricule : {{ app.user.matricule }}
                    Créé le : {{ secteur_valide.createdAt ? secteur_valide.createdAt|date('d/m/Y H:i') : 'N/A' }}
                    Dernier modification le : {{ secteur_valide.updatedAt ? secteur_valide.updatedAt|date('d/m/Y H:i') : 'N/A' }}"
            >
                <td>{{ secteur_valide.annee }}</td>
                <td>{{ secteur_valide.nummois }}</td>
                <td>{{ secteur_valide.ensemble }}</td>
                <td>{{ secteur_valide.prodvivrNT }}</td>
                <td>{{ secteur_valide.prodvivrTNRiz }}</td>
                <td>{{ secteur_valide.prodvivrTRiz }}</td>
                <td>{{ secteur_valide.prodmanufind }}</td>
                <td>{{ secteur_valide.prodmanufart }}</td>
                <td>{{ secteur_valide.servpubl }}</td>
                <td>{{ secteur_valide.servpriv }}</td>
                <td>{{ secteur_valide.ppn }}</td>
                <td>
                    {#<a href="{{ path('app_secteur_valide_show', {'id': secteur_valide.id}) }}">show</a>#}
                    <a href="{{ path('app_secteur_valide_edit', {'id': secteur_valide.id}) }}"
                    class="btn btn-sm btn-outline-primary"
                    title="Modifier">
                        <i class="bi bi-pencil"></i>
                    </a>

                    <form method="post"
                        action="{{ path('app_secteur_valide_delete', {'id': secteur_valide.id}) }}"
                        class="form-delete"
                        data-id="{{ secteur_valide.id }}"
                        style="display:inline;">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ secteur_valide.id) }}">
                        <button type="submit" class="btn btn-sm btn-danger"> <i class="bi bi-trash"></i></button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    </div>
    </div>
    </div>

<script src="{{ asset('js/secteur_valide.js') }}"></script>


{% endblock %}
