{% extends 'base.html.twig' %}

{% block title %}SecteurValide{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/views.css') }}">
{% endblock %}

{% block body %}
    <h1>SecteurValide</h1>


           <div class="info-box">
    <div class="row">
        <span class="label">Id</span>
        <span class="value">{{ secteur_valide.id }}</span>
    </div>
    <div class="row">
        <span class="label">Année</span>
        <span class="value">{{ secteur_valide.annee }}</span>
    </div>
    <div class="row">
        <span class="label">Nummois</span>
        <span class="value">{{ secteur_valide.nummois }}</span>
    </div>
    <div class="row">
        <span class="label">Ensemble</span>
        <span class="value">{{ secteur_valide.ensemble }}</span>
    </div>
    <div class="row">
        <span class="label">Prodvivr_n_t</span>
        <span class="value">{{ secteur_valide.prodvivrNT }}</span>
    </div>
    <div class="row">
        <span class="label">Prodvivr_t_n_riz</span>
        <span class="value">{{ secteur_valide.prodvivrTNRiz }}</span>
    </div>
    <div class="row">
        <span class="label">Prodvivr_t_riz</span>
        <span class="value">{{ secteur_valide.prodvivrTRiz }}</span>
    </div>
    <div class="row">
        <span class="label">Prodmanufind</span>
        <span class="value">{{ secteur_valide.prodmanufind }}</span>
    </div>
    <div class="row">
        <span class="label">Prodmanufart</span>
        <span class="value">{{ secteur_valide.prodmanufart }}</span>
    </div>
    <div class="row">
        <span class="label">Servpubl</span>
        <span class="value">{{ secteur_valide.servpubl }}</span>
    </div>
    <div class="row">
        <span class="label">Servpriv</span>
        <span class="value">{{ secteur_valide.servpriv }}</span>
    </div>
    <div class="row">
        <span class="label">Ppn</span>
        <span class="value">{{ secteur_valide.ppn }}</span>
    </div>

    <a href="{{ path('app_secteur_valide_index') }}">Retour à la liste</a>
    <a href="{{ path('app_secteur_valide_edit', {'id': secteur_valide.id}) }}">Modifier</a>
</div>

</br>
<div class="historique">
   <fieldset>
       <legend>Date de creation</legend>
       <ul>
                Matricule : {{ app.user.matricule }} </br>
              Créé le :
                {{ secteur_valide.createdAt ? secteur_valide.createdAt|date('d/m/Y H:i') : 'N/A' }}
                par {{ secteur_valide.createdBy ?? 'Inconnu' }}

   </fieldset>

   <fieldset>
       <legend>Historique des modifications</legend>
       <ul>
           {% for historique in secteur_valide.historiques %}
               <li>
                   Modifié le : {{ historique.dateModification|date('d/m/Y H:i') }}
                   {% if historique.modifiePar %}
                       par {{ historique.modifiePar }}
                   {% endif %}
               </li>
           {% else %}
               <li>Aucune modification enregistrée</li>
           {% endfor %}
       </ul>
   </fieldset>
</div>

{% endblock %}